<th:block th:fragment="plan_header">
<script defer src="../../static/js/plan_header.js"></script>

<div id="header">
    <!-- 헤더, 전체 메뉴 -->
    <div class="logo">
        <a href="#">
            <img src="./../../static/images/left_logo.png" alt="">
        </a>
    </div>
    <nav class="menu">
        <ul>
            <li>
                <a href="#">
                    <div>
                        <img src="./../../static/images/left_icon1.png" alt="">
                        <p>계획 세우기</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="./../../static/images/left_icon2.png" alt="">
                        <p>계획 구경하기</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">    
                    <div>
                        <img src="./../../static/images/left_icon3.png" alt="">
                        <p>후기 구경하기</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="./../../static/images/left_icon4.png" alt="">
                        <p>마이 페이지</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
</th:block>